.home {
  #hero,
  #tarifs-et-forfaits,
  #reservation,
  #nos-vehicules,
  #actualites-et-blog {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    padding: 0 !important;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .text {
      padding: 50px;

      p {
        padding-bottom: 30px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 0 10px 10px 0;

      @media screen and (max-width: 1100px) {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  #hero {
    h2 {
      padding-bottom: 0;
    }

    a {
      text-align: center;

      @media screen and (max-width: 1100px) {
        display: block;
      }
      &:nth-of-type(2) {
        margin-top: 20px;
      }
    }

    img {
      @media screen and (max-width: 1100px) {
        width: 95%;
        margin: 0 auto;
      }
    }
  }

  #services {
    @media screen and (max-width: 1100px) {
      padding: 50px 20px;
    }

    h2 {
      @media screen and (max-width: 1100px) {
        text-align: center;
      }
    }

    .services-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .service-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
        box-shadow: inset 0 0 20px $black;
        text-align: center;

        i {
          padding-bottom: 20px;
          color: $color1;
          font-size: 2.2rem;
        }
      }
    }
  }

  #tarifs-et-forfaits {
    img {
      @media screen and (max-width: 1100px) {
        width: 86%;
        margin: 0 auto;
      }
    }
    .grid-tarif {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
        text-align: center;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
        box-shadow: inset 0 0 20px $black;
        text-align: left;

        @media screen and (max-width: 1100px) {
          text-align: center;
        }

        h3 {
          color: $white;
        }

        p {
          padding-bottom: 0;

          @media screen and (max-width: 1100px) {
            text-align: center;
          }
        }
      }
    }
  }

  #reservation {
    grid-template-columns: 40% 60% !important;

    @media screen and (max-width: 1100px) {
      display: flex;
      grid-template-columns: 1fr !important;
      flex-direction: column-reverse;
      text-align: center;
    }

    h2 {
      @media screen and (max-width: 1100px) {
        text-align: center;
        padding: 0 20px;
      }
    }

    img {
      border-radius: 10px 0 0 10px;

      @media screen and (max-width: 1100px) {
        border-radius: 0 0 10px 10px;
      }
    }

    .grid-reservation {
      div {
        padding: 20px 20px 0;
        margin: 20px 0;
        border-left: 10px solid $bg;
        border-radius: 0;

        &:nth-child(2) {
          margin-left: 40px;
        }

        &:nth-child(3) {
          margin-left: 80px;
        }
      }
    }
  }

  #a-propos {
    h2 {
      @media screen and (max-width: 1100px) {
        text-align: center;
      }
    }
    @media screen and (max-width: 1100px) {
      padding: 50px 20px;
    }

    .grid-a-propos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
        text-align: center;
      }

      h2 {
        @media screen and (max-width: 1100px) {
          text-align: center;
        }
      }

      .item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 10px;
        box-shadow: inset 0 0 20px $black;
        text-align: center;

        span {
          padding: 30px;
          margin-bottom: 30px;
          border-radius: 50%;
          background: $bg;
          width: 150px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color1;
          font-size: 3rem;
          box-shadow: 0 0 10px $black;
        }
      }
    }
    .text {
      p {
        margin-top: 50px;
        text-align: justify;

        @media screen and (max-width: 1100px) {
          text-align: center;
        }
      }
    }
  }

  #zones {
    h2 {
      @media screen and (max-width: 1100px) {
        text-align: center;
      }
    }

    i {
      display: none;

      @media screen and (max-width: 1100px) {
        display: block;
        color: $color1;
        background: $bg;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 2.2rem;
        margin-bottom: 20px;
        box-shadow: 0 0 10px $bg;
      }
    }
    .grid-zone {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
        text-align: center;

        img {
          display: none;
        }

        p {
          padding-bottom: 30px;
        }
      }

      .zone-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1100px) {
          grid-template-columns: 1fr;
          text-align: center;
        }
      }
    }
  }

  #nos-vehicules {
    grid-template-columns: 40% 60%;
    padding: 0 !important;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    img {
      border-radius: 10px 0 0 10px;

      @media screen and (max-width: 1100px) {
        border-radius: 10px 10px 0 0;
        width: 80%;
        margin: 0 auto;
      }
    }

    #grid-auto {
      padding: 50px;

      #item-auto {
        display: grid;
        grid-template-columns: 1fr 5fr;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1100px) {
          margin-bottom: 20px;
        }

        .ico-auto {
          width: 100px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          clip-path: polygon(50% 20%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
          background: $bg;

          i {
            font-size: 2.2rem;
          }
        }
      }
    }
  }

  #temoignages {
    padding: 50px 20px;

    h2 {
      @media screen and (max-width: 1100px) {
        text-align: center;
      }
    }

    .clients-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
        text-align: center;
      }

      .client-item {
        box-shadow: inset 0 0 20px $black;
        padding: 20px;
        border-radius: 10px;

        img {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 20px;
        }

        h3,
        p {
          text-align: center;
        }
      }
    }
  }

  #actualites-et-blog {
    grid-template-columns: 40% 60%;
    padding: 0 !important;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
    }

    img {
      border-radius: 10px 0 0 10px;

      @media screen and (max-width: 1100px) {
        border-radius: 0 0 10px 10px;
      }
    }

    .text-actus {
      padding: 50px;

      .actu-item {
        display: grid;
        grid-template-columns: 10% 80%;
        gap: 20px;
        margin-top: 50px;
        position: relative;

        i {
          background: $bg;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 1.3rem;
          box-shadow: 0 0 5px $black;

          &:after {
            content: "";
            top: 40px;
            height: 100%;
            position: absolute;
            border-left: 3px solid $bg;
          }
        }

        h3 {
          position: relative;
          &:after {
            content: "";
            top: 50%;
            left: -50px;
            width: 50px;
            height: 100%;
            position: absolute;
            border-top: 3px solid $bg;

            @media screen and (max-width: 1100px) {
              display: none;
            }
          }
        }
      }
    }
  }

  #faq {
    h2 {
      padding: 0 !important;
    }
    .question {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        font-weight: bold;
      }
    }
    .reponse {
      display: none;
      padding-left: 20px;
      border-left: 1px solid $white;
      padding-bottom: 20px;
      p {
        color: $bg-card;
      }

      ul {
        li {
          list-style-position: inside;
          color: $bg-card;
        }
      }

      a {
        font-weight: bold;
      }
    }
  }
}
